<!DOCTYPE html>
<html lang="zh-cn">
<head>
<title>Fans Talk</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/web/thinkphp5/public/static/css/bootstrap.min.css" />
<link rel="stylesheet" href="/web/thinkphp5/public/static/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/web/thinkphp5/public/static/css/fullcalendar.css" />
<link rel="stylesheet" href="/web/thinkphp5/public/static/css/matrix-style.css" />
<link rel="stylesheet" href="/web/thinkphp5/public/static/css/matrix-media.css" />
<link href="/web/thinkphp5/public/static/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="/web/thinkphp5/public/static/css/jquery.gritter.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">MatAdmin</a></h1>
</div>
<!--close-Header-part-->
<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">欢迎&nbsp;No:<span id="username">{$Think.session.userID}</span></span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="http://localhost/web/thinkphp5/public/index.php/index/add/invoice"><i class="icon-user"></i> 我的资料</a></li>
        <li class="divider"></li>
        <li><a href="http://localhost/web/thinkphp5/public/index.php/index/add/logOut"><i class="icon-key"></i> 退出</a></li>
      </ul>
    </li>
    <li class=""><a title="" href="http://localhost/web/thinkphp5/public/index.php/index/add/invoice"><i class="icon icon-cog"></i> <span class="text">设置</span></a></li>
    <li class=""><a title="" href="http://localhost/web/thinkphp5/public/index.php/index/add/logOut"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a></li>
  </ul>
</div><!--close-top-Header-menu-->
<!--start-top-serch-->
<div id="search" class="input-div">
  <form method="post" action="search">
  <input type="text" name="search_value" placeholder="输入搜索内容..."/>
  <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
	</form>
</div>
<!--close-top-serch-->
<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> 控制台</a>
  <ul>
    <li class="active"><a href="index"><i class="icon icon-home"></i> <span>首页</span></a> </li>
    <li class="submenu"> <a href="#"><em class="icon icon-inbox"></em> <span>&nbsp;&nbsp;&nbsp;版块</span></a>
	  <ul >
        <li><a href="kpl">王者荣耀</a></li>
        <li><a href="pubg">绝地求生</a></li>
		  
      </ul>
	</li>
<!--	   <li><a href="http://localhost/web/thinkphp5/public/index.php/index/index/search"><em class="icon icon-home"></em> <span>&nbsp;&nbsp;&nbsp;搜索</span></a></li>-->
  </ul>
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"><a href="index" class="tip-bottom"><em class="icon-home"></em> 首页</a>
		
	  </div>  
  </div>
<!--End-breadcrumbs-->

<!--Action boxes-->
  <div class="container-fluid">
    <div class="plate-choose">
	  <ul class="plate">
		  <li class="plate-index"><a href="kpl">王者荣耀</a></li>
		  <li class="plate-index"><a href="pubg">绝地求生</a></li>
		</ul>
	  </div>
<!--End-Action boxes-->    
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box" id="newestTalk">
          <div class="widget-title bg_ly" data-toggle="collapse" href="#collapseG1"><span class="icon"><i class="icon-chevron-down"></i></span>
           <h5>最新讨论</h5>          
			  <div class="balls">
  			<div class="waiting1"></div>
  			<div class="waiting1"></div>
  			<div class="waiting1"></div>
		</div>
          </div>
          <div class="widget-content nopadding collapse in" id="collapseG1">
            
            <ul class="recent-posts">
            {volist name="newests" id="newest"}
             <li>
                <div class="user-thumb"> <img width="40" height="40" alt="User" src="/web/thinkphp5/public/static/img/demo/av1.jpg"> </div>
                <div class="article-post"> <span class="user-info"> By: No.<span class="auther-name">{$newest->getData('autherID')}</span> <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>/ Date: <span class="publish-date">{$newest->getData('date_time')|substr=0,10}</span> <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>/ Time:<span class="publish-time">
                  {$newest->getData('date_time')|substr=11}</span> </span>
          <p><a class="article-title" href="{:url('talk_detail', ['arID'=>$newest->getData('arID')])}">{$newest->getData('title')}</a> </p>
          <div>
          <ul class="article-info">
          <li><span class="icon"><i class="icon-heart-empty"></i></span><div class="num-heart" >{$newest->getData('arheart')}</div></li>
          <li><span class="icon"><i class="icon-comments-alt"></i></span><div class="num-comment" >{$newest->getData('arcomment')}</div></li>
          </ul>
            <div class="article-source">{$newest->getData('arsource')}</div>
          </div> 
				
                </div>
              </li>
              {/volist}
            </ul>
            
          </div>
        </div>
		  <div class="widget-box" id="hotTalk">
          <div class="widget-title bg_ly" data-toggle="collapse" href="#collapseG2"><span class="icon"><i class="icon-chevron-down"></i></span>
            <h5>最讨论</h5>
			  <div class="balls">
  			<div class="waiting2"></div>
  			<div class="waiting2"></div>
  			<div class="waiting2"></div>
          </div>
			   </div>
          <div class="widget-content nopadding collapse in" id="collapseG2">
            <ul class="recent-posts">
              {volist name="hotests" id="hotest"}
              <li>
                <div class="user-thumb"> <img width="40" height="40" alt="User" src="/web/thinkphp5/public/static/img/demo/av2.jpg"> </div>
				  <div class="article-post"> <span class="user-info">By: <span class="z-auther-name">{$hotest->getData('autherID')}</span> <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>/ Date: <span class="z-publish-date">{$hotest->getData('date_time')|substr=0,10}</span> <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>/ Time:<span class="z-publish-time">{$hotest->getData('date_time')|substr=11}</span> </span>
                  <p ><a class="z-article-title" href="{:url('talk_detail', ['arID'=>$hotest->getData('arID')])}">{$hotest->getData('title')}</a> </p>
					<div >
					<ul class="article-info">
					<li><span class="icon"><i class="icon-heart-empty"></i></span><div class="z-num-heart" >{$hotest->getData('arheart')}</div></li>
					<li><span class="icon"><i class="icon-comments-alt"></i></span><div class="z-num-comment" >{$hotest->getData('arcomment')}</div></li>
					</ul>
					</div>
				<div class="z-article-source"></div>
                </div>
              </li>
              {/volist}
					</ul>
					</div>
				<div class="z-article-source"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div id="footer" class="span12">Copyright &copy; 2019.Company name All rights reserved wq.</div>
</div>
<script src="/web/thinkphp5/public/static/js/excanvas.min.js"></script> 
<script src="/web/thinkphp5/public/static/js/jquery.min.js"></script> 
<script src="/web/thinkphp5/public/static/js/jquery.ui.custom.js"></script> 
<script src="/web/thinkphp5/public/static/js/bootstrap.min.js"></script> 
<script src="/web/thinkphp5/public/static/js/jquery.flot.min.js"></script> 
<script src="/web/thinkphp5/public/static/js/jquery.flot.resize.min.js"></script> 
<script src="/web/thinkphp5/public/static/js/jquery.peity.min.js"></script> 
<script src="/web/thinkphp5/public/static/js/fullcalendar.min.js"></script> 
<script src="/web/thinkphp5/public/static/js/matrix.js"></script> 
<script src="/web/thinkphp5/public/static/js/matrix.dashboard.js"></script> 
<script src="/web/thinkphp5/public/static/js/jquery.gritter.min.js"></script> 
<script src="/web/thinkphp5/public/static/js/matrix.interface.js"></script> 
<script src="/web/thinkphp5/public/static/js/matrix.chat.js"></script> 
<script src="/web/thinkphp5/public/static/js/jquery.validate.js"></script> 
<script src="/web/thinkphp5/public/static/js/matrix.form_validation.js"></script> 
<script src="/web/thinkphp5/public/static/js/jquery.wizard.js"></script> 
<script src="/web/thinkphp5/public/static/js/jquery.uniform.js"></script> 
<script src="/web/thinkphp5/public/static/js/select2.min.js"></script> 
<script src="/web/thinkphp5/public/static/js/matrix.popover.js"></script> 
<script src="/web/thinkphp5/public/static/js/jquery.dataTables.min.js"></script> 
<script src="/web/thinkphp5/public/static/js/matrix.tables.js"></script> 	
	
<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {
      
          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();            
          } 
          // else, send page to designated URL            
          else {  
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>
</body>
</html>
